/* font-family: 'Dancing Script', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
.main_page-container{
  margin: 20px 100px;
}

.logo_text{
  font-family: 'Inter', sans-serif;
  color: aliceblue;
  font-size: 20px;
}

.logo_text span{
  font-family: 'Pacifico', cursive;
  color: #7E6363;
}
.main_page-title{
  padding-top: 100px;
  width: 600px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: auto;
}
 .main-img{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
} 

input{
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: #F9FBFA;
  border: 3px solid #F9FBFA;
}
 ::placeholder{
  color: #DBD1D6;
  font-size: 18px;
}

button{
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  color: #F9FBFA;
  border: 3px solid #F9FBFA;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}
.input-container{
  display: flex;
  justify-content: center;
}
.flex-rec{
  display: flex;
  margin: 0px 30px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.recipes_main-container{
  padding: 30px 30px;
  gap: 40px;
  background-color: #f9fbfada;
  margin-top: 170px;
  width: 350px;
} 

.box-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DBD1D6;
  max-width: 350px;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  border-radius: 20px;
}
.box-container button{
  background-color: #A1B5B5;
}
.box-container h6{
  color: #7E6363;
  font-size: 18px;
}
.box-container p{
  color: #090B0A;
  font-size: 14px;
}
.box-container img{
    width: 250px;
    border-radius: 20px;
    border: 5px solid #A1B5B5;
}

h1 span{
  color: #7E6363;
  -webkit-text-stroke: 1px #090B0A;
  text-stroke: 1px #090B0A;
}

.span_second{
color: #A1B5B5;
-webkit-text-stroke: 1px #090B0A;
text-stroke: 1px #090B0A;
}


@media all and (max-width:700px){
  .main_page-container{
    margin: 0px 25px;
  }
  .main_page-title{
    width: 300px;
    text-align: center;
  }
  h1{
    font-size: 40px;
  }
  input{
    width: 200px;
  }
}